/*
* grommet 样式
*/
@import "{}/node_modules/grommet/grommet.min.scss";
$brand-color: #865cd6 !default;

@keyframes loading {
    to{
        left: 0;
    }
}

.loading{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;

    .content{
        display: flex;
        font-size: 2rem;
        align-items: baseline;
        font-style: italic;
        font-family: cursive;
        align-items: center;
        position: relative;
        color: $brand-color;
        
        .layer{
            height: 100vh;
            background-color: whitesmoke;
            opacity: .8;
            position: absolute;
            animation-name: loading;
            animation-duration: 5s;
            animation-timing-function: linear;  
            animation-iteration-count: infinite;
            transform: skew(160deg);
            width: 760px;   
            left: -760px;  
        }

        h2{
            margin-top: 8rem;
        }
    }

    .separator{
        width: 3px;
        height: 60vh;  
        transform: skew(160deg);
        background-color: #666;
        margin: 20px;
    }

}

@media screen and (max-width: 600px){
    .loading{
        .content{
            font-size: 1rem;
        } 

        .separator{
            height: 30vh;  
        }
    }
}

/*
*覆盖 grommet样式
*/
@media screen and (max-width: 44.9375em){
    .grommetux-box--pad-small {
        padding: 0!important
    }
}

/*
*覆盖 quill 样式
*/
.ql-toolbar.ql-snow{
    border-left: none!important;
    border-right: none!important;
    border-bottom: none!important;
    border-top:  1px solid #ccc!important;
}

.hide-toolbar.ql-toolbar.ql-snow{
    visibility: hidden;
}

.ql-container.ql-snow{
    border-left: none!important;
    border-right: none!important;
    border-bottom: none!important;
    border-top:  1px solid #ccc!important;

    font-size: 1rem!important;
}

.ql-flex{
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    flex: 1;

    .ql-container.ql-snow{
        flex: 1;
        overflow: auto;
    }
    
}

.chat-left {
    .search > input{
        border:none;
    }

    .user-list{
        height: 100%;
        
        .item{
            cursor: pointer;
            margin-bottom: 3px;

            .time,.content{
                color:#a8a8a8;
            }
    
            .time{
                align-self: center;
                margin-left: auto;
            }
        }
    }
}

.chat-right{
    .msg-window{
        flex: 1;
        overflow: auto;

        &::-webkit-scrollbar {
            width: 0px;
        }
        .msg{
            .ctext{
                border-radius:10px;
            }
        }
    }
}


/*******/
header{
    overflow: auto;
}

.none-border{
    input[type="search"]{
        border:none;
    }
}

.sticky-top{
    position: -webkit-sticky;    
    position: sticky;
    top: 0;
    z-index: 2;
}

